USE [master]
GO
/****** Object:  Database [Ristorante]    Script Date: 19/03/2024 17:20:18 ******/
CREATE DATABASE [Ristorante]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ristorante', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Ristorante.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ristorante_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Ristorante_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ristorante].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ristorante]
GO
/****** Object:  User [ristorante]    Script Date: 19/03/2024 17:20:18 ******/
CREATE USER [ristorante] FOR LOGIN [ristorante] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ristorante]
GO
/****** Object:  Table [dbo].[DettagliOrdini]    Script Date: 19/03/2024 17:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DettagliOrdini](
	[IdPortata] [int] NOT NULL,
	[IdOrdine] [int] NOT NULL,
	[Quantita] [int] NOT NULL,
 CONSTRAINT [PK_DettagliOrdini] PRIMARY KEY CLUSTERED 
(
	[IdPortata] ASC,
	[IdOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordini]    Script Date: 19/03/2024 17:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordini](
	[IdOrdine] [int] IDENTITY(1,1) NOT NULL,
	[IdUtente] [int] NOT NULL,
	[DataOrdine] [datetime] NOT NULL,
	[Indirizzo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ordine] PRIMARY KEY CLUSTERED 
(
	[IdOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portate]    Script Date: 19/03/2024 17:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Prezzo] [float] NOT NULL,
	[Tipologia] [int] NOT NULL,
 CONSTRAINT [PK_Portata] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utenti]    Script Date: 19/03/2024 17:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utenti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Cognome] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Ruolo] [int] NOT NULL,
 CONSTRAINT [PK_Utenti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Portate] ON 

INSERT [dbo].[Portate] ([Id], [Nome], [Prezzo], [Tipologia]) VALUES (1, N'Carbonara', 10, 1)
INSERT [dbo].[Portate] ([Id], [Nome], [Prezzo], [Tipologia]) VALUES (2, N'Cacio e pepe', 9, 1)
INSERT [dbo].[Portate] ([Id], [Nome], [Prezzo], [Tipologia]) VALUES (3, N'Abbacchio', 18, 2)
SET IDENTITY_INSERT [dbo].[Portate] OFF
GO
SET IDENTITY_INSERT [dbo].[Utenti] ON 

INSERT [dbo].[Utenti] ([Id], [Email], [Nome], [Cognome], [Password], [Ruolo]) VALUES (3, N'admin@admin.com', N'admin', N'admin', N'Admin_', 2)
INSERT [dbo].[Utenti] ([Id], [Email], [Nome], [Cognome], [Password], [Ruolo]) VALUES (4, N'teodolinda.caridi@katamail.it', N'Teodolinda', N'Caridi', N'RY18klbzF33D', 1)
INSERT [dbo].[Utenti] ([Id], [Email], [Nome], [Cognome], [Password], [Ruolo]) VALUES (5, N'ambr.iava@yahoo.it', N'Ambra', N'Iavaroni', N'NS08bjpyT12P', 1)
SET IDENTITY_INSERT [dbo].[Utenti] OFF
GO
ALTER TABLE [dbo].[DettagliOrdini]  WITH CHECK ADD  CONSTRAINT [FK_Dettagli ordine_Ordine] FOREIGN KEY([IdOrdine])
REFERENCES [dbo].[Ordini] ([IdOrdine])
GO
ALTER TABLE [dbo].[DettagliOrdini] CHECK CONSTRAINT [FK_Dettagli ordine_Ordine]
GO
ALTER TABLE [dbo].[DettagliOrdini]  WITH CHECK ADD  CONSTRAINT [FK_Dettagli ordine_Portata] FOREIGN KEY([IdPortata])
REFERENCES [dbo].[Portate] ([Id])
GO
ALTER TABLE [dbo].[DettagliOrdini] CHECK CONSTRAINT [FK_Dettagli ordine_Portata]
GO
ALTER TABLE [dbo].[Ordini]  WITH CHECK ADD  CONSTRAINT [FK_Ordine_Utenti] FOREIGN KEY([IdUtente])
REFERENCES [dbo].[Utenti] ([Id])
GO
ALTER TABLE [dbo].[Ordini] CHECK CONSTRAINT [FK_Ordine_Utenti]
GO
USE [master]
GO
